# Required
php_path=e:/xampp7/php/php.exe


# Optional (default: WITA)
# - for Indonesia, you can set timezone to WIB, WITA, or WIT
# - for another country, set it to PHP Supported Timezones (ex: Asia/Singapore)
# - more PHP timezones: 
#   - https://www.php.net/manual/en/timezones.php
#   - https://www.w3schools.com/php/php_ref_timezones.asp
timezone=WITA
